body {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: #222;
    color: white;
    padding-bottom: 8vw;
}

.code {font-family: "Source Code Pro", monospace;}
.lblue {color: #9cdcfe;}
.nobold {font-weight: 400;}
.white {color: white;}

.socialbottom, .socialsvgbottom, .headercontact {display:none}

button {
    border: 0;
    background-color: inherit;
}

#header {
    height: 60px;
    background-color: #222;
    overflow-y: hidden;
    position: sticky;
    top: 0;
    z-index: 100;
    padding-right: 2vw;
}

.headername {
    font-size: 4.2vw;
    text-align: center;
    line-height: 60px;
    width: 38%;
    padding-left: 4%;
    height: 60px;
    float: left;
    font-family: "Source Code Pro", monospace;
}

.socialbtn {
    height: 100%;
    width: 30px;
    float: right;
    margin-right: 5px;
}

.socialtop {
    height: 60px;
    width: 30px;
}

.socialsvgtop {
    width: 20px;
    height: 20px;
    margin: 20px 0 0 5px;
}

.graphicheader {
    width: 90%;
    border-bottom: 2px solid #555;
    height: 60px;
    margin-top: 10px;
    line-height: 30px;
    padding: 0 5vw;
}

.mylangsmobile {
    width: 100%;
    font-family: "Source Code Pro", monospace;
    color: #6a9955;
    text-align: center;
    font-size: calc(10px + 1.2vw);
}

.mylangs {display:none}

.codetab {
    float: left;
    height: 30px;
    width: 27vw;
    font-size: calc(6px + .5vw);
}

.codetab:hover {
    cursor: pointer;
    background-color: #333;
}

.selectedtab:hover {
    cursor: pointer;
    background-color: #555;
}

.selectedtab {
    border-bottom: #222;
    background-color: #555;
}

.tabimg {
    height: 60%;
    margin: 8px 14px 0 8px;
    float: left;
}

.cppgraphic {
    width: 92%;
    font-size: 4vw;
    padding-left: 8%;
    background: #004482;
    background: linear-gradient(180deg,rgba(0, 68, 130, 0.15) 0%, rgba(0, 68, 130, 0) 100%);
}

.jsgraphic {
    width: 90%;
    font-size: 4.5vw;
    padding-left: 10%;
    background: #F0DC4E;
    background: linear-gradient(180deg,rgba(240, 220, 78, 0.15) 0%, rgba(240, 220, 78, 0) 100%);
}

.pygraphic {
    width: 94%;
    font-size: 3.8vw;
    padding-left: 6%;
    background: #3776AB;
    background: linear-gradient(180deg,rgba(55, 118, 171, 0.15) 0%, rgba(55, 118, 171, 0) 100%);
}

#titlegraphic {
    line-height: 6vw;
    height: 70vh;
    padding-top: 20vh;
    color: white;
    font-family: "Source Code Pro", monospace;
    tab-size: 3
}

#titlegraphic span {
    float: left;
    white-space: pre;
}


#arrows {
    border-radius: 50%;
    width: 12vw;
    height: 12vw;
    border: 2px solid white;
    color: white;
    font-family: "Source Code Pro", monospace;
    margin-top: 20vw;
    position: absolute;
    left: 44vw;
    display: none;
}

.downs {
    width: 5vw;
    height: 5vw;
    animation-name: bouncearrows;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes bouncearrows {
    0% {margin-top: -.5vw}
    50% {margin-top: 1.5vw}
    100% {margin-top: -.5vw}
}

#aboutme {
    width: 100%;
    text-align: center;
    position: relative;
    margin-bottom: 25vw;
}

.mephoto {
    border-radius: 50%;
    height: 40vw;
    height: 40vw;
    position: relative;
    z-index: 0;
    border: 2px solid #ff685c;
}

.mebanner {
    background-color: #ff685c;
    position: relative;
    color: white;
    font-family: "Source Code Pro", monospace;
    height: 8vw;
    line-height: 8vw;
    font-size: 4.4vw;
    margin: -12vw 0 0 25%;
    z-index: 2;
    width: 50vw;
}

.aboutmedesc {
    color: white;
    font-size: 16px;
    margin: 8vw 0 0 10%;
    width: 80%;
    line-height: 30px;
}

.resumebtn {
    width: 40vw;
    height: 11vw;
    line-height: 9vw;
    border: 2px solid #9cdcfe;
    color: #9cdcfe;
    font-family: "Source Code Pro", monospace;
    font-size: 5vw;
    margin-top: 6vw;
    text-decoration: underline;
}

#experience {
    margin-left: 1vw;
    margin-bottom: 10vw;
    position: relative;
    font-size: calc(8px + 1.2vw);
    height: 1vw;
}

#experiencetitle {
    width: auto;
    text-align: center;
    font-size: calc(16px + 2.8vw);
    padding-top: 1.8vw;
    margin: 20vw 0 6vw 0;
    padding-bottom: 4vw;
    font-weight: 800;
    background: #9CDCFE;
    background: linear-gradient(180deg,rgba(156, 220, 254, 0) 15%, rgb(0, 68, 130, 0.15) 50%, rgba(156, 220, 254, 0) 85%);
    font-family: "Source Code Pro", monospace;
}

h1 {
    text-align: center;
    text-decoration: underline;
    margin: 3vw 0 5vw 0;
    font-size: calc(14px + 1.6vw);
}

.expHalf {
    width: 40vw;
    display: inline-block;
    position: absolute;
    padding: 0 2vw;
    opacity: 0;
}

#experience::before { /*top dot*/
    content: '';
    position: absolute;
    top: 0;
    left: calc(49vw - 6px);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: white;
}

#experience::after { /* bottom dot*/
    content: '';
    position: absolute;
    top: 98%;
    left: calc(49vw - 6px);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: white;
}

.expRight {left: 54vw;}

#experienceline { /*line*/
    position: absolute;
    top: 0;
    left: calc(49vw - 1px);
    width: 2px;
    height: 0%;
    background: white;
}

.companyctr {
    position: absolute;
    left: calc(45vw - 2px);
    width: 8vw;
    height: 8vw;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid white;
    background-color: #222;
    opacity: 0;
}

.companylogo {
    width: 90%;
    margin: 5%;
}

.kpit {top: 8vw; background-color: #b0ff44}
.parc {top: 50vw; background-color: white}

.companytitle {
    font-size: calc(11px + 1.2vw);
}

.kpitdesc {margin-top: 9vw;}
.parcdesc {margin-top: 51vw;}

@keyframes pulldownANIM {
    from {height: 0}
    to {height: 100%}
}

@keyframes blendinANIM {
    from {opacity: 0}
    to {opacity: 1}
}

.pulldown {
    animation-name: pulldownANIM;
    animation-duration: 1.2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.blendin {
    animation-name: blendinANIM;
    animation-duration: 1.2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: 1.2s;
}

.skillctr {
    width: 26vw;
    margin: 6vw 0 0 5.5vw;
    text-align: center;
}

.skilliconctr {
    height: 6vw;
    width: 6vw;
    border-radius: 50%;
    margin: -3vw 0 0 10vw;
    background-color: #222;
    text-align: center;
}

.skillicon {
    width: 50%;
    display: inline;
    vertical-align: center;
    height: 100%;
}

.skilltitle {
    font-family: "Source Code Pro", monospace;
    font-size: 1.2vw;
    font-weight: 700;
    margin-top: .4vw;
}

#projecttitle {
    width: auto;
    text-align: center;
    font-size: calc(16px + 2.8vw);
    padding-top: 1.8vw;
    margin: 0 0 10vw 0;
    padding-top: 20vw;
    padding-bottom: 12vw;
    font-weight: 800;
    background: #9CDCFE;
    background: linear-gradient(180deg,rgba(156, 220, 254, 0) 20%, rgba(156, 220, 254, .15) 55%, rgba(156, 220, 254, 0) 90%);
    font-family: "Source Code Pro", monospace;
}

#projecttitle p, #experiencetitle p {
    font-weight: 500;
    font-size: calc(7px + 0.8vw);
    height: 14px;
}

.projectsrow {
    height: auto;
    vertical-align: middle;
    margin: 2.5vw 0;
}

.projectvideo {
    border-radius: 8px;
}

.projectshowcase {display:none;}

.projectshowcasemobile {
    width: 80%;
    margin: 16px 0 22px 10%;
    height: 100%;
    display: inline-block;
    line-height: 100%;
    vertical-align: middle;
    box-shadow: 0 0 4px -2px #9cdcfe;
    border-radius: 10px;
}

.projectdescbox {
    height: auto;
    width: 90%;
    margin: 0 5% 0 5%;
    display: inline-block;
    border-radius: 12px;
    box-shadow: 0 0 12px -2px black;
    vertical-align: middle;
}

.divider {height:2.5vw}

.projectname {
    font-size: 20px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    color: #9cdcfe;
    padding: 12px 3%;
}

.projectwords {
    padding: 0 3%;
    font-size: 14px;
}

.projectlangs{
    text-align: center;
}

.projecticon {
    height: 24px;
    margin: 12px 12px;
}

.projectlink {
    width: 100%;
    text-align: center;
    font-size: 16px;
}

.projectlink a {
    color: #9cdcfe;
    text-decoration: none;
}

.projectlink a:active {
    font-weight: 600;
    filter: brightness(1.2);
}

.endicon {
    width: 14vw;
    margin: 3vw 0 0 43vw;
}

#copiedtoclipboard {
    position: fixed;
    top: 35vh;
    left: 20vw;
    background-color: #111;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
    width: 60vw;
    height: 15vh;
    text-align: center;
    font-size: 14px;
    border-radius: 12px;
    opacity: 0;
    padding: 2vw;
    min-width: 180px;
    box-sizing: border-box;
    box-shadow: 0 0 12px #ffffff33;
}

.tooltip {
    position: relative;
    display: inline-block;
    font-size: 12px;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 100px;
    background-color: #111;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    box-shadow: 0 0 9px #00000099;

    /* Position the tooltip */
    width: 100px;
    bottom: 90%;
    left: 50%;
    margin-left: -50px;
    position: absolute;
    z-index: 1;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #111 transparent transparent transparent;
}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
}

@keyframes slideupANIM {
    from {margin-top: 40vw}
    to {margin-top: 0vw}
}

.slideup {
    animation-name: slideupANIM;
    animation-duration: 1.2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}