body {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: #222;
    color: white;
    padding-bottom: 5vw;
}

.socialbottom, .socialsvgbottom, .headercontact {display:none}

button {
    border: 0;
    background-color: inherit;
}

#header {
    height: 60px;
    background-color: #222;
    overflow-y: hidden;
    position: sticky;
    top: 0;
    z-index: 100;
    padding-right: 2vw;
}

.headername, .headercontact {
    font-size: 3.8vw;
    text-align: center;
    line-height: 60px;
    width: 40%;
    padding-left: 1%;
    height: 60px;
    float: left;
    font-family: "Source Code Pro", monospace;
}

.socialbtn {
    height: 100%;
    width: 30px;
    float: right;
    margin-right: 5px;
}

.socialtop {
    height: 60px;
    width: 30px;
}

.socialsvgtop {
    width: 20px;
    height: 20px;
    margin: 20px 0 0 5px;
}

#titlegraphic {
    font-size: 4.5vw;
    line-height: 6vw;
    width: 80%;
    height: 70vh;
    padding-top: 30vh;
    margin-left: 10%;
    color: white;
    font-family: "Source Code Pro", monospace;
}

#arrows {
    border-radius: 50%;
    width: 12vw;
    height: 12vw;
    border: 2px solid white;
    color: white;
    font-family: "Source Code Pro", monospace;
    margin: 20vw 0 0 34vw;
    display: none;
}

.downs {
    width: 5vw;
    height: 5vw;
    animation-name: bouncearrows;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes bouncearrows {
    0% {margin-top: -.5vw}
    50% {margin-top: 1.5vw}
    100% {margin-top: -.5vw}
}

#aboutme {
    width: 100%;
    text-align: center;
    position: relative;
}

.mephoto {
    border-radius: 50%;
    height: 40vw;
    height: 40vw;
    position: relative;
    z-index: 0;
    border: 2px solid #ff685c;
}

.mebanner {
    background-color: #ff685c;
    position: relative;
    color: white;
    font-family: "Source Code Pro", monospace;
    height: 8vw;
    line-height: 8vw;
    font-size: 4.4vw;
    margin: -12vw 0 0 25%;
    z-index: 2;
    width: 50vw;
}

.aboutmedesc {
    color: white;
    font-size: 18px;
    margin: 8vw 0 0 15%;
    width: 70%;
    line-height: 30px;
}

.resumebtn {
    width: 34vw;
    height: 9vw;
    line-height: 8vw;
    border: 2px solid #9cdcfe;
    color: #9cdcfe;
    font-family: "Source Code Pro", monospace;
    font-size: 4vw;
    margin-top: 6vw;
    text-decoration: underline;
}

.skillctr {
    width: 26vw;
    margin: 6vw 0 0 5.5vw;
    text-align: center;
}

.skilliconctr {
    height: 6vw;
    width: 6vw;
    border-radius: 50%;
    margin: -3vw 0 0 10vw;
    background-color: #222;
    text-align: center;
}

.skillicon {
    width: 50%;
    display: inline;
    vertical-align: center;
    height: 100%;
}

.skilltitle {
    font-family: "Source Code Pro", monospace;
    font-size: 1.2vw;
    font-weight: 700;
    margin-top: .4vw;
}
